<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Destination</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'loginRegistration/css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'loginRegistration/css/skeleton.css' %}">
		<link rel="stylesheet" href="{% static 'loginRegistration/css/styles.css' %}">
	</head>
	</head>
	<body>
		<div class="usertrip">
			<h3></h3> <!-- Destination -->
				<h4></h4> <!-- Planned By: -->
				<h4></h4> <!-- Description: -->
				<h4></h4> <!-- Travel Date From: -->
				<h4></h4> <!-- Travel Date To: -->
		</div>
		<div>
			<h3>Other users joining the trip</h3>
				<!-- for loop of first name and last name  -->
				<h4></h4> <!-- First Name and Last Name -->
				<!-- end of for loop of first name and last name  -->
		</div>
	</body>

</html>
